body {
	margin: 0;
	font-family: Arial;
	font-size: 80%;
	line-height: 135%;
	color: #333;
	background: #fff;
}
.clr {
	clear: both;
}
.wrapper {
	width: 750px;
	margin: 0 auto;
}
.demo {
	width: 250px;
	height: 250px;
	text-align: center;
	float: left;
}
.demo img {
	border: 5px solid #EEEEEE;
	margin: 0 5px;
	padding: 5px;
}
a {
	text-decoration: none;
	color: #0985B4;
}
h1 {
	text-align: center;
	border-bottom: 2px solid #eee;
	padding: 0.5em;
}
h2 {
	color: #D0491C;
	font-family: Geneva,Helvetica,Arial,sans-serif;
	font-size: 160%;
	font-weight: normal;
	margin: 0pt 0pt 15px;
}
#footer {
	border-top: 2px solid #eee;
	font-weight: bold;
	padding: 0.5em;
	text-align: right;
	color: #999;
}